<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>お菓子ログ</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
  <section class=section>
    <div class="container">
      <p>ありがとうございました！</p>
      <p><a href="{{base_url()}}/task-list/{{userid}}">はじめに戻る</a></p>
    <div>
  </section>
</body>
</html>