<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>タスクリスト</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <style>
    /* CSSでレスポンシブ対応 */
    @media screen and (max-width: 560px) {
      .iframe-wrapper {
        width:100%;
        height:0;
        padding-top:75%;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  </style>
</head>
<body>
  <section class=section>
    <div class="container has-text-centered is-title">
      <div class="iframe-wrapper">
        <p class="title has-text-centered">動画を見た後，次へボタンを押してください。<br />（動画は自動的に止まります。）</p>
        <p>
          <iframe width="560" height="315" src="{{videourl}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <a href="{{base_url()}}{{testurl}}"><button class="button is-primary">次へ</button></a>
      </div>
    <div>
  </section>
</body>
</html>